* {
    scroll-behavior: smooth;
}

.teaser {
    height: 76vh;
    position: relative;
}

.teaser h1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* réaligne bien */
}

.footer{
    width: 100%;
    position: absolute;
    bottom: 0;
}